/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */

.container95 {
    width: 95%;
}
.bg-violet {
    background-color: #9792e4;
}
.text-violet {
    color: #9792e4;
}

/* Header */

header {
    background-color: #0084fd;
    color: white;
    height: 80px;
}
.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}
.nav-menu {
    display: none;
}
.nav-desktop {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.nav-desktop li a {
    text-decoration: none;
    padding: 0 1rem;
    color: inherit;
}
#get-started {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

/* Main */
.col-container {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.card {
    margin: 1rem 0;
    padding: 1rem 1rem;
    width: 100%;
    /* TEST */
    border: 2px solid blue;
}  
.strategic-planning  {
    padding: 1rem 0;
}
.partners {
    padding: 2rem 0;
}



/* Media queries */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px){
    /* Main */
    .card {
        margin: 1rem 0;
    }
    .col-container {
        justify-content: space-between;
    }
    .col-container .card {
        width: calc(33% - 0.5rem);
    }
    .col-container .card:first-child {
        width: calc(66%);
    }
    .col-container .card:nth-child(4) {
        padding: 0 1rem;
    }
    .strategic-planning .col-container .card {
        width: 100%;
    }
    .partners .col-container .card {
        width: 100%
    }
}

/* Desktop */
@media screen and (min-width: 992px) {
    /* Header */
    .nav-menu {
        display: block;
    }
    .burger {
        display: none;
    }
    .flex-nav {
        width: 70%;
    }
    /* Main */
    .card {
        margin: 1rem 0;
    }
    .col-container {
        justify-content: space-between;
        width: 70%;
    }
    .col-container .card {
        width: calc(33% - 0.5rem);
    }
    .col-container .card:first-child {
        width: calc(66%);
    }
    .partners .col-container .card {
        width: 100%
    }
}