/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */

body {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container95 {
    width: 95%;
    max-width: 1170px;
}
.bg-violet {
    background-color: #9792e4;
}
.text-violet {
    color: #9792e4;
}
.text-white {
    color: white;
}
.text-blue {
    color: #0084fd;
}
.text-center {
    text-align: center;
}
.bg-black {
    background-color: #333333;
}
a {
    text-decoration: none;
}
/* Header */

header {
    background-color: #0084fd;
    color: white;
    height: 80px;
}
.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}
.nav-menu {
    display: none;
}
.nav-desktop {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.nav-desktop li a {
    text-decoration: none;
    padding: 0 1rem;
    color: inherit;
}
#get-started {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}
.apple-btn {
    background-color: #0084fd;
    padding: 0.5rem 3rem;
    border-radius: 20px;
}
/* Main */
.col-container {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.card {
    margin: 1rem 0;
    padding: 1rem 1rem;
    width: 100%;
    /* TEST */
    border: 2px solid blue;
}
.info .col-container .card {
    flex-direction: column;
    background-color: #b5ddff;
    border-radius: 20px;
    padding: 3rem;
    padding: 3rem;
    padding: 3rem;
    padding-bottom: 0;
    line-height: 2rem;
}
.info .col-container .card:nth-child(2) {
    text-align: center;
}
.info .col-container .card:nth-child(3) {
    text-align: center;
}
.info .col-container .card:nth-child(4) {
    text-align: center;
}
.info .col-container .card:nth-child(5) {
    text-align: center;
}
.info .col-container .card p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.info .col-container .card i.text-blue {
    font-size: 6rem;
}
.info .col-container .card h2 {
    margin: 1.5rem 0;
}
.pic-container {
    display: flex;
    justify-content: center;
    width: 75%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
}
.pic-container img {
    width: 100%;
}
.strategic-planning  {
    padding: 1rem 0;
}
.strategic-planning .col-container .card {
    display: flex;
    flex-direction: column;
}
.strategic-planning .col-container .card h2 {
    margin-bottom: 2rem;
    margin-top: 3rem;
}
.strategic-planning .col-container .card:nth-child(2) {
    background-color: white;
    padding: 1rem;
    color: black;
    border-radius: 40px;
    justify-content: flex-end;
}
.strategic-planning .col-container .card:nth-child(2) p {
    font-style: italic;
}
.circle {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 2rem auto;

}
.partners {
    padding: 2rem 0;
}
.partners .col-container {
    flex-direction: column;
}
.partners .col-container .card {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;

}
.partners .col-container h2 {
    margin: 2rem 0;
}
.partners .col-container p {
    margin-bottom: 2rem;
}
.partners .col-container .round-img {
    width: 150px;
    height: 150px;
}
.partners .col-container .round-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.partners .col-container .card p {
    margin: 2rem 0;
}
.partner-description {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.benefits {
    padding: 2rem 0;
}
.benefits .col-container .card {
    background-color: white;
}
.number {
    font-size: 40px;
    margin: 2rem 0;
}
.benefits .col-container .card h2 {
    margin: 2rem 0;
}
.benefits .col-container .card p {
    margin-bottom: 2rem;
}
.benefits .col-container .card a {
    text-decoration: none;
    padding: 0.5rem 3rem;
    background-color: #9792e4;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.about-us .col-container p {
    margin-bottom: 1rem;
}
.about-us .col-container h2 {
    margin-bottom: 1rem;
    font-weight: bold;
}
.about-us .col-container .card .round-img img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 2rem;
}
.about-us .col-container .card .text-violet {
    font-size: 20px;
}
.btn-violet {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #9792e4;
    border-radius: 20px;
    margin: 1rem 0;
}
.about-us .container95 {
    width: 85%;
}
.flex-column {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    padding: 2.5rem 0;
}

/* Footer */

.footer-flex {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-top {
    padding: 2rem 0;
}
.footer-bottom {
    padding: 2rem 0;
}
/* Media queries */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px){
    /* Main */
    .card {
        margin: 1rem 0;
    }
    .col-container {
        justify-content: space-between;
    }
    .col-container .card {
        width: calc(33% - 0.5rem);
    }
    .col-container .card:first-child {
        width: calc(66%);
    }
    .info .col-container .card:nth-child(4) {
        padding: 3rem;
    }
    .pic-container {
        padding-right: 3rem;
        margin-left: 0;
    }
    .strategic-planning .col-container .card {
        width: 100%;
    }
    .partners .col-container .card {
        width: 100%;
        flex-direction: row;
    }
    .benefits .col-container .card {
        width: calc(50% - 1rem);
    }
    .about-us .container95 {
        width: 90%;
    }
}

/* Desktop */
@media screen and (min-width: 992px) {
    /* Header */
    .nav-menu {
        display: block;
    }
    .burger {
        display: none;
    }
    .flex-nav {
        width: 70%;
    }
    /* Main */
    .info .col-container .card:first-child {
        margin: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .col-container {
        justify-content: space-between;
        width: 70%;
    }
    .pic-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 40%;
    }
    .col-left-desktop {
        width: 60%;
    }
    .col-container .card {
        width: calc(33% - 0.5rem);
    }
    .col-container .card:first-child {
        width: calc(66%);
    }
    .partners .col-container .card {
        width: 100%;
        flex-direction: row;
    }
    .benefits .col-container .card {
        width: calc(33% - 0.5rem);
    }
    .about-us .container95 {
        width: 65%;
    }
    .cta .flex-column {
        width: 45%;
    }

    /* Footer */

    footer .footer-flex {
        width: 45%;
    }
}